@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 250px;
  }
}

.container {
  width: 900px;
  margin: 0 auto; /* Définit automatiquement les marges à gauche/droite */
  display: flexbox;
  justify-content: center;
}
.card{
  background: rgba(255, 255, 255, 0.883);
  border: 1px solid lightgrey;
  margin: 30px;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(48, 44, 44, 0.1);
  border-radius: 10px;
}

.paysage{
  width : 50rem;
  height: 30rem;
  padding: 10px;
}

.portrait{
  margin: 0 auto;
  width : 18rem;
  height: 27rem;
  padding: 10px;
}
.display{
  margin: 0 auto;
  display: flex;
  margin-right: 20px;

}

.portrait:hover, .paysage:hover{
  scale: 1.2;
  transition: 0.3s;
  cursor: pointer;
}

.img-container{
  overflow: hidden;
  height: fit-content;
  width: fit-content;
  margin: 0 auto;

}

.portrait, .paysage{
  transition: 0.3s;
  position:static;

}

button{
  margin: 0 auto;
  font-size: medium;
  border-radius: 5px;
  color: #f0f0f0;
  background-color: #1E3E62;
  border: 1px solid;
  padding: 13px;
}
button:hover{
  color: #ffffff;
  background-color: #182f49;
  cursor:pointer;
}

#profilepic{
  width : 100px;
  box-shadow: 0 10px 40px rgba(61, 59, 59, 0.1);
  margin: 0 auto;
  border-radius: 50%;
}
body{
  background-color: #FAF7F0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}
a{
  text-decoration: none;
}
a:hover{
  color:rgba(10, 27, 63, 0.7);
  cursor: pointer;

}
h1{
  font-size: 2rem;
  color: rgb(1, 47, 62);
}
h3{
  font-size: 1,5rem;
  color :  rgb(1, 47, 62);
  margin : 10px;
}
li{
  margin:10px;
  text-decoration: none;
  list-style-type:none;
  display:inline;
  text-align: center;
  align-items: center;
}
ul{
  margin: 0 auto;
  text-align: center;
  align-items: center;
  margin-top: 30px;
  margin-right: 40px;
}


.socials{
 /* Définit automatiquement les marges à gauche/droite */
  display: flexbox;
}
